body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "aside main";
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 30px;


    height: 100vh;
    background-color: #6D2177;
}

.aside__usuario,
.aside__contas,
.aside__metodos,
.aside__configuracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside__usuario__img {
    width: 90px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.aside__usuario__nome {
    margin-top: 10px;
    color: #fff;
    font-weight: normal;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

.aside__contas__link,
.aside__metodos__link,
.aside__configuracao__link {
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.ativo {
    background-color: #fff;
    color: #6D2177;

    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__conta__sessao {
    font-size: 4rem;
}

.main__informacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__informacao__dados {
    border-radius: 4px;
    background-color: #333;
    height: 120px;
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__informacao__dados__info {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin: 10px 0;
    box-sizing: content-box;
}

.main__informacao__menu {
    height: 120px;
    width: 50%;
    background-color: #333;
    border-radius: 4px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__informacao__menu__info {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
}

.main__extrato__titulo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.main__extrato__box {
    background-color: #6D2177;
}












.footer__copyright {
    color: #fff;
    text-align: center;
}