body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "aside main";
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 30px;


    height: 100vh;
    background-color: #6D2177;
}

.aside__usuario,
.aside__contas,
.aside__metodos,
.aside__configuracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside__usuario__img {
    width: 70px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.aside__usuario__nome {
    margin-top: 10px;
    color: #fff;
    font-weight: normal;
}

.aside__contas__link,
.aside__metodos__link,
.aside__configuracao__link {
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.ativo {
    background-color: #fff;
    color: #333;

    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__copyright {
    color: #fff;
    text-align: center;
}