.main__contacorrente.ativo,
.main__contapoupanca.ativo,
.main__contasalario.ativo,
.main__contadepositar.ativo,
.main__contatransferir.ativo,
.main__contacobrar.ativo,
.main__contanotificacao.ativo,
.main__contaconfiguracao.ativo {
    animation: sectionAnimation 1s ease;
    display: grid;
}

@keyframes sectionAnimation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.main__contacorrente.desativado,
.main__contapoupanca.desativado,
.main__contasalario.desativado,
.main__contadepositar.desativado,
.main__contatransferir.desativado,
.main__contacobrar.desativado,
.main__contanotificacao.desativado,
.main__contaconfiguracao.desativado {
    display: none;
}

.aside__metodos__link.desativado,
.aside__configuracao__link.desativado,
.aside__contas__link.desativado {
    color: #fff;
    background-color: transparent;
    display: block;
    padding: 0;    
}

.aside__metodos__link.ativo,
.aside__configuracao__link.ativo,
.aside__contas__link.ativo {
    background-color: #fff;
    color: #6D2177;

    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-areas: "aside main";
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 30px;

    position: fixed;
    width: 220px;
    height: 100vh;
    background-color: #333;
}

.aside__usuario,
.aside__contas,
.aside__metodos,
.aside__configuracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside__usuario__img {
    width: 90px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.aside__usuario__nome {
    margin-top: 10px;
    color: #fff;
    font-weight: normal;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

.aside__contas__link,
.aside__metodos__link,
.aside__configuracao__link {
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    transition: 0.5s;
}

main {
    grid-area: main;
}

.main__contacorrente,
.main__contapoupanca,
.main__contasalario,
.main__contadepositar,
.main__contatransferir,
.main__contacobrar,
.main__contanotificacao,
.main__contaconfiguracao {
    visibility: visible;
    grid-template-columns: 90%;
    justify-content: center;
    align-content: center;
    align-items: center;

    padding-top: 40px;
}


.main__contacorrente {
    grid-template-rows: 40% 60%;
    /* justify-content: center;
    align-content: center;
    align-items: center; */
}

.main__conta__sessao {
    font-size: 4rem;
}

.main__informacao {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px 0;
}

.main__informacao__dados {
    border-radius: 4px;
    background-color: #333;
    height: 120px;
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__informacao__dados__info {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin: 10px 0;
    box-sizing: content-box;
}

.main__informacao__menu {
    height: 120px;
    width: 50%;
    background-color: #333;
    border-radius: 4px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__informacao__menu__info {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
}

.main__extrato {
    margin: 2rem 0;
}

.main__extrato__titulo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.main__extrato__box {
    background-color: #333;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 95%;
    grid-template-areas: "form"
                         "table";
    justify-content: center;


}

.main__extrato__box__form {
    grid-area: form;
    display: grid;
    grid-template-columns: 25% 25% 35%;
    grid-template-areas: "select1 select2 input";

    margin: 2.5rem 0 1rem 0;
}

select {
    width: 180px;
    height: 35px;
    padding: 5px 10px;
    color: #ccc;
    
}

select option {
    color: #333;
}

input {
    width: 280px;
    height: 35px;
    padding: 5px 10px;
}

input::placeholder {
    opacity: 0.8;
}

.main__extrato__box__table {
    height: 250px;
    overflow-y: scroll;
    margin: 25px 0;
}

.main__extrato__box__table table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 98%;
    height: auto;

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5),
                3px 0px 3px rgba(0, 0, 0, 0.5),
                0px -3px 3px rgba(0, 0, 0, 0.5),
                -3px 0px 3px rgba(0, 0, 0, 0.5);
}

.main__extrato__box__table thead{
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    height: 40px;
    
}

.main__extrato__box__table thead td {
    padding: 10px 10px;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    background-color: #6D2177;
}

.main__extrato__box__table tbody tr {
    height: 30px;
}

.main__extrato__box__table tbody tr:nth-child(1n) {
    background-color: #ccc;
}
.main__extrato__box__table tbody tr:nth-child(2n) {
    background-color: #fff;
}

.main__extrato__box__table tbody tr td {
    font-size: 1.1rem;
    padding-left: 10px;
}




.footer__copyright {
    color: #fff;
    text-align: center;
}