@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Coolvetica';
    src: url('../fonte/coolvetica/coolvetica rg.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

form input, form button, form select{
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    color: 333;

    border: none;
    border-radius: 8px;
    outline: none;
}