@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Coolvetica';
    src: url('../fonte/coolvetica/coolvetica rg.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 20%;
    grid-template-areas: "header"
                         "main"
                         "footer";
    justify-items: center;
    background-color: rgb(109,33,119);
    color: #fff;
}

header {
    grid-area: header;

    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__titulo {
    font-family: 'Coolvetica', sans-serif;
    font-size: 5.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.header__quantDeClientes {
    font-size: 1.2rem;
}

footer {
    grid-area: footer;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}